<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EmailNotification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=wnasap;AccountKey=4tW9Wq49t3DL8Z0GGaYBTtk6T7eaXCMRuJCfnxRmUBx1n6uIT+ZVFwZnK7Ykmg8T/VFFl4ZWabxSDDy0aEh7bg==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=wnasap;AccountKey=4tW9Wq49t3DL8Z0GGaYBTtk6T7eaXCMRuJCfnxRmUBx1n6uIT+ZVFwZnK7Ykmg8T/VFFl4ZWabxSDDy0aEh7bg==" />
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <EmailNotification.Properties.Settings>
      <setting name="DefaultConnectionString" serializeAs="String">
        <value>Data Source=tcp:d8fx7wpavu.database.windows.net,1433;Initial Catalog=wnasap_db;User Id=woodlandstest@d8fx7wpavu;Password=!whr8288680;</value>
      </setting>
      <setting name="SENDGRID_USER" serializeAs="String">
        <value>azure_a504ee65e2af4f068dcf7850772831df@azure.com</value>
      </setting>
      <setting name="SENDGRID_PASS" serializeAs="String">
        <value>j2Xoadm4xC5n270</value>
      </setting>
      <setting name="TWILIO_ID" serializeAs="String">
        <value>AC231d44643ad2393addeb57b7a7891579</value>
      </setting>
      <setting name="TWILIO_TOKEN" serializeAs="String">
        <value>fa965e006d61e9b81c7ec49dd1f5bdee</value>
      </setting>
    </EmailNotification.Properties.Settings>
  </applicationSettings>
</configuration>