@model wn_Admin.Models.UtilityModels.LinkGroupViewModel
@{
    ViewBag.Title = "Dashboard";
}


<div class="row mCustomDiv">

    @foreach (var s in Model.sections)
    {

        <div class="col-md-4">
            <div class="panel panel-primary" style="border-color:@s.color;">
                <div class="panel-heading" style="background-color:@s.color;"><h4>@s.ListName</h4></div>
                @foreach (var c in s.ListLinks)
                {
   
                    <div class="panel-body"><a href="@c.Link" class="btn btn-primary col-md-12" style="background-color:@s.color;text-align:left;">@c.LinkName</a></div>

                }
            </div>
        </div>

    }


</div>








