@model wn_Admin.Models.CModels.OffReason

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OffReason</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OffReasonID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
