.my_box_shadow{
    -webkit-box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.75);
}

.my_padding{
    padding: 10px;
}

.my_margin{
    margin-top: 30px;
}

.my_selectlist{
    height: 150px !important;
}

#close{
    display:none;
}