@model IEnumerable<wn_Admin.Models.CompanyModels.Supervision>
@using GridMvc.Html;
@{
    ViewBag.Title = "Index";
}
@section jsSection{
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <script src="~/Scripts/gridmvc.min.js"></script>
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Grid(Model).Columns(columns =>
   {
       columns.Add(c => c.Supervisor.FullName).Titled("Supervisor").Filterable(true);
       columns.Add(c => c.Project.ProjectName).Titled("Project").Filterable(true);
       columns
            .Add()
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(c =>
            Html.ActionLink("[Edit]", "Edit", new { id = c.SupervisionID }) + " " +
            Html.ActionLink("[Details]", "Details", new { id = c.SupervisionID }) + " " +
            Html.ActionLink("[Delete]", "Delete", new { id = c.SupervisionID })
            );
   }).WithPaging(50).Sortable(true)
