@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>Role Name</div>
    <div>
        <p>
            @Html.TextBox("name")
        </p>
    </div>
    <input type="submit" value="Save" />
}